:root {
  --primary-blue:#2f80d5;
  --primary-font: '-apple-system';
  --primary-grey: #B7B7B7;
  --primary-brown: #99815E;
}

body {
  font-family: var(--primary-font), system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
      Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  margin: 0;
  color: black;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  /* color: var(--primary-blue); */
  font-style: italic;
}

a.nuxt-link-exact-active {
  color: var(--primary-blue);
}

main {
  display: grid;
  grid-template-columns: 4rem repeat(5, 1fr) 1rem;
  grid-template-rows: 0.5rem 3.5rem repeat(4, 1fr) 2rem;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
